label{ font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6px;}
h2{font-family: monospace;}
div{ border: 2px solid black; width: 200px; border-radius: 10px; height:300px; background-color:antiquewhite;  display: block;
    margin-left: auto;
    margin-right: auto;}
input[type=button]{padding: 10px; margin-left: 15px; border-radius: 60%; background-color:deepskyblue; border: none; }
input[type=text]{width: 180px; margin-left: 6px; border: none; }
input[type=button]:hover{background-color: chocolate; color: aliceblue;}
input[type=text]:focus{background-color: lightblue}
input[type=reset]{margin-left: 6px; background-color: crimson; border: none; padding: 5px;}
input[type=reset]:hover{background-color: red; color: aliceblue;}